.res-img{
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
  }
  .round-img{
      border-radius: 50%;
     object-fit: cover; 
      width: 250px;
      height: 250px;
  }