.wrap{
    display: flex;
    flex-wrap: wrap;
}
:root{
    --success-color:#04AA6D;
    --error-color:#f44336;
    --info-color:#2196F3;
    --warn-color:#ff9800;
    --dark-color:#212529;
    --lg-color:#ebecee;
    --primary-btn-color:#8831da;
    --secondary-btn-color: #6c757d;

}
.btnn{
    margin: 8px;
    min-width: 100px;
    width: max-content;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
    padding: 9px 20px;
    border-radius: 0.5rem ;
    color:white;
}
.btnn:hover{
    opacity: 0.9;
}
.btn-primary{
    background-color: var(--primary-btn-color);
}
.btn-secondary{
    background-color: var(--secondary-btn-color);
}
.btn-dark{
    background-color: var(--dark-color);
}
.btn-lg{
    background-color: var(--lg-color);
    color:black
}
.btn-success{
    background-color: var(--success-color);
}
.btn-error{
    background-color: var(--error-color);
}
.btn-info{
    background-color: var(--info-color);
}
.btn-warn{
    background-color: var(--warn-color);
}
.btn-link{
    background-color: var(--info-color);
    padding: 10px 20px;
}

/* link button */
a{
    text-decoration: none;  
}

/* outline button */
.btn-outline-primary{
    border: 1.5px solid var(--primary-btn-color);
    color:var(--primary-btn-color);
}
.btn-outline-primary:hover{
    background-color: var(--primary-btn-color);
    color:white;
}
.btn-outline-secondary{
    border: 1.5px solid var(--secondary-btn-color);
    color:var(--secondary-btn-color);
}
.btn-outline-secondary:hover{
    background-color: var(--secondary-btn-color);
    color:white;
}
.btn-outline-success{
    border: 1.5px solid var(--success-color);
    color:var(--success-color);
}
.btn-outline-success:hover{
    background-color: var(--success-color);
    color:white;
}
.btn-outline-error{
    border: 1.5px solid var(--error-color);
    color:var(--error-color);
}
.btn-outline-error:hover{
    background-color: var(--error-color);
    color:white;
}
.btn-outline-warn{
    border: 1.5px solid var(--warn-color);
    color:var(--warn-color);
}
.btn-outline-warn:hover{
    background-color: var(--warn-color);
    color:white;
}
.btn-outline-info{
    border: 1.5px solid var(--info-color);
    color:var(--info-color);
}
.btn-outline-info:hover{
    background-color: var(--info-color);
    color:white;
}
.btn-outline-dark{
    border: 1.5px solid var(--dark-color);
    color:var(--dark-color);
}
.btn-outline-dark:hover{
    background-color: var(--dark-color);
    color:white;
}

/* icon button */
.icon-btn{
    margin-right: 0.5rem;
}
/* floating action button */
.btn-float{
    width: 3rem;
    height: 3rem;
    background-color: var(--primary-btn-color);
    border-radius: 50%;
    outline: none;
    border: none;
}