
.main-nav{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px 30px;
    justify-content: space-between; 
    border-bottom: 5px solid var(--primary-color);
    /* box-shadow: 0 5px 28px rgba(0,0,0,0.25); */
    color: black;
}
.main-menu,.right-menu{
    display: flex;
}
.main-nav ul.main-menu{
    flex: 1;
    margin-left: 20px;
}
.main-nav ul li a:hover{
    border-bottom: 2px solid var(--primary-color);
}
.main-nav ul li {
    padding: 0 20px;
}

@media (max-width:700px) {
    .main-nav ul.main-menu{
        display: block;
        position: absolute;
        top:0;
        left:0;
        background: var(--lg-color);
        width: 50%;
        height: 100%;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);

        border-right: 1px solid var(--secondary-color) ;
        }
        .main-nav ul.main-menu.show{
            transform: translateX(-20px);
        } 
        .main-nav ul.main-menu li{
            padding: 10px;
        }
        .main-nav ul.right-menu{
            margin-right: 30px;
        }
        
        .menu-btn{
                display: block;
             }
        
         
}